# Covid Developement in Australia

Team Members:-
    1. Akshaya Raja  , 219203265
    2. Soumith Potturi, 219203031
    3. Karan Jagad , 219203187

PROBLEM STATEMENT - 
    To analyze the development of confirmed COVID-19 infections2 from 2/1/20 to 3/21/20 in
Australia and predict possible infection rates for 3/22/20 and 3/23/20. Compare your predictions with the actual infection rates.

# Analysis

In [1]:
import findspark 
findspark.init()
findspark.find()

'C:\\spark-3.0.0-bin-hadoop2.7'

In [2]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import col,sum
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SQLContext
import pandas as pd
from pyspark.ml.regression import LinearRegression

In [3]:
sc=SparkContext("local","assignment")
sc.setLogLevel("ERROR")
spark=SparkSession(sc)

In [4]:
#Importing data to spark

covid_data=spark.read.option("header","true").option("inferSchema","true").csv("E:\BIG DATA\COVID-19Prediction\ConfirmedCases.txt")
covid_data.show()

+----------------+--------------------+--------+---------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|  Province/State|      Country/Region|     Lat|     Long|1/22/20|1/23/20|1/24/20|1/25/20|1/26/20|1/27/20|1/28/20|1/29/20|1/30/20|1/31/20|2/1/20|2/2/20|2/3/20|2/4/20|2/5/20|2/6/20|2/7/20|2/8/20|2/9/20|2/10/20|2/11/20|2/12/20|2/13/20|2/14/20|2/15/20|2/16/20|2/17/20|2/18/20|2/19/20|2/20/20|2/21/20|2/22/20|2/23/20|2/24/20|2/25/20|2/26/20|2/27/20|2/28/20|2/29/20|3/1/20|3/2/20|3/3/20|3/4/20|3/5/20|3/6/20|3/7/20|3/8/20|3/9/20|3/10/20|3/11/20|3/12/20|3/13/20|3/14/20|3/15/20|3/16/20|3/17/20|3/18/20|3/19/20|3/20/20|3/21/20|3/22/20|3/23/20|
+----------------+--------------------+--------+---------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|            null|            Thailand|    15.0|    101.0|      2|      3|      5|      7|      8|      8|     14|     14|     14|     19|    19|    19|    19|    25|    25|    25|    25|    32|    32|     32|     33|     33|     33|     33|     33|     34|     35|     35|     35|     35|     35|     35|     35|     35|     37|     40|     40|     41|     42|    42|    43|    43|    43|    47|    48|    50|    50|    50|     53|     59|     70|     75|     82|    114|    147|    177|    212|    272|    322|    411|    599|    599|
|            null|               Japan|    36.0|    138.0|      2|      1|      2|      2|      4|      4|      7|      7|     11|     15|    20|    20|    20|    22|    22|    45|    25|    25|    26|     26|     26|     28|     28|     29|     43|     59|     66|     74|     84|     94|    105|    122|    147|    159|    170|    189|    214|    228|    241|   256|   274|   293|   331|   360|   420|   461|   502|   511|    581|    639|    639|    701|    773|    839|    825|    878|    889|    924|    963|   1007|   1086|   1086|
|            null|           Singapore|  1.2833| 103.8333|      0|      1|      3|      3|      4|      5|      7|      7|     10|     13|    16|    18|    18|    24|    28|    28|    30|    33|    40|     45|     47|     50|     58|     67|     72|     75|     77|     81|     84|     84|     85|     85|     89|     89|     91|     93|     93|     93|    102|   106|   108|   110|   110|   117|   130|   138|   150|   150|    160|    178|    178|    200|    212|    226|    243|    266|    313|    345|    385|    432|    455|    455|
|            null|               Nepal| 28.1667|    84.25|      0|      0|      0|      1|      1|      1|      1|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      2|      2|
|            null|            Malaysia|     2.5|    112.5|      0|      0|      0|      3|      4|      4|      4|      7|      8|      8|     8|     8|     8|    10|    12|    12|    12|    16|    16|     18|     18|     18|     19|     19|     22|     22|     22|     22|     22|     22|     22|     22|     22|     22|     22|     22|     23|     23|     25|    29|    29|    36|    50|    50|    83|    93|    99|   117|    129|    149|    149|    197|    238|    428|    566|    673|    790|    900|   1030|   1183|   1306|   1306|
|British Columbia|              Canada| 49.2827|-123.1207|      0|      0|      0|      0|      0|      0|      1|      1|      1|      1|     1|     1|     1|     1|     2|     2|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      5|      5|      5|      5|      6|      6|      6|      6|      7|      7|      7|      7|      8|     8|     8|     9|    12|    13|    21|    21|    27|    32|     32|     39|     46|     64|     64|     73|    103|    103|    186|    231|    271|    424|    424|    424|
| New South Wales|           Australia|-33.8688| 151.2093|      0|      0|      0|      0|      3|      4|      4|      4|      4|      4|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|     6|     6|    13|    22|    22|    26|    28|    38|    48|     55|     65|     65|     92|    112|    134|    171|    210|    267|    307|    353|    436|    533|    533|
|        Victoria|           Australia|-37.8136| 144.9631|      0|      0|      0|      0|      1|      1|      1|      1|      2|      3|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      7|     7|     9|     9|    10|    10|    10|    11|    11|    15|     18|     21|     21|     36|     49|     57|     71|     94|    121|    121|    121|    229|    296|    296|
|      Queensland|           Australia|-28.0167|    153.4|      0|      0|      0|      0|      0|      0|      0|      1|      3|      2|     3|     2|     2|     3|     3|     4|     5|     5|     5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      9|     9|     9|    11|    11|    13|    13|    13|    15|    15|     18|     20|     20|     35|     46|     61|     68|     78|     94|    144|    184|    221|    221|    221|
|            null|            Cambodia|   11.55| 104.9167|      0|      0|      0|      0|      0|      1|      1|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     2|     2|      2|      3|      3|      5|      7|      7|      7|     33|     35|     37|     51|     53|     84|     84|
|            null|           Sri Lanka|     7.0|     81.0|      0|      0|      0|      0|      0|      1|      1|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      2|      2|      6|     10|     18|     28|     44|     51|     60|     73|     77|     82|     82|
|            null|             Germany|    51.0|      9.0|      0|      0|      0|      0|      0|      1|      4|      4|      4|      5|     8|    10|    12|    12|    12|    12|    13|    13|    14|     14|     16|     16|     16|     16|     16|     16|     16|     16|     16|     16|     16|     16|     16|     16|     17|     27|     46|     48|     79|   130|   159|   196|   262|   482|   670|   799|  1040|  1176|   1457|   1908|   2078|   3675|   4585|   5795|   7272|   9257|  12327|  15320|  19848|  22213|  24873|  24873|
|            null|             Finland|    64.0|     26.0|      0|      0|      0|      0|      0|      0|      0|      1|      1|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      2|      2|      2|      3|     6|     6|     6|     6|    12|    15|    15|    23|    30|     40|     59|     59|    155|    225|    244|    277|    321|    336|    400|    450|    523|    626|    626|
|            null|United Arab Emirates|    24.0|     54.0|      0|      0|      0|      0|      0|      0|      0|      4|      4|      4|     4|     5|     5|     5|     5|     5|     5|     7|     7|      8|      8|      8|      8|      8|      8|      9|      9|      9|      9|      9|      9|     13|     13|     13|     13|     13|     13|     19|     21|    21|    21|    27|    27|    29|    29|    45|    45|    45|     74|     74|     85|     85|     85|     98|     98|     98|    113|    140|    140|    153|    153|    153|
|            null|         Philippines|    13.0|    122.0|      0|      0|      0|      0|      0|      0|      0|      0|      1|      1|     1|     2|     2|     2|     2|     2|     3|     3|     3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|     3|     3|     3|     3|     3|     5|     6|    10|    20|     33|     49|     52|     64|    111|    140|    142|    187|    202|    217|    230|    307|    380|    380|
|            null|               India|    21.0|     78.0|      0|      0|      0|      0|      0|      0|      0|      0|      1|      1|     1|     2|     3|     3|     3|     3|     3|     3|     3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|     3|     5|     5|    28|    30|    31|    34|    39|    43|     56|     62|     73|     82|    102|    113|    119|    142|    156|    194|    244|    330|    396|    396|
|            null|               Italy|    43.0|     12.0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      2|     2|     2|     2|     2|     2|     2|     3|     3|     3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|     20|     62|    155|    229|    322|    453|    655|    888|   1128|  1694|  2036|  2502|  3089|  3858|  4636|  5883|  7375|  9172|  10149|  12462|  12462|  17660|  21157|  24747|  27980|  31506|  35713|  41035|  47021|  53578|  59138|  59138|
|            null|              Sweden|    63.0|     16.0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      1|     1|     1|     1|     1|     1|     1|     1|     1|     1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      2|      7|      7|     12|    14|    15|    21|    35|    94|   101|   161|   203|   248|    355|    500|    599|    814|    961|   1022|   1103|   1190|   1279|   1439|   1639|   1763|   1934|   1934|
|            null|               Spain|    40.0|     -4.0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     1|     1|     1|     1|     1|     1|     1|     1|     2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      6|     13|     15|     32|     45|    84|   120|   165|   222|   259|   400|   500|   673|  1073|   1695|   2277|   2277|   5232|   6391|   7798|   9942|  11748|  13910|  17963|  20410|  25374|  28768|  28768|
| South Australia|           Australia|-34.9285| 138.6007|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     1|     2|     2|     2|     2|     2|     2|     2|     2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      3|     3|     3|     3|     5|     5|     7|     7|     7|     7|      7|      9|      9|     16|     19|     20|     29|     29|     37|     42|     50|     67|    100|    100|
+----------------+--------------------+--------+---------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [5]:
#Pre-processing data
#Dropping rows with null values
covid_no_null=covid_data.na.drop('any')
covid_no_null.show()

+--------------------+--------------+--------+---------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|      Province/State|Country/Region|     Lat|     Long|1/22/20|1/23/20|1/24/20|1/25/20|1/26/20|1/27/20|1/28/20|1/29/20|1/30/20|1/31/20|2/1/20|2/2/20|2/3/20|2/4/20|2/5/20|2/6/20|2/7/20|2/8/20|2/9/20|2/10/20|2/11/20|2/12/20|2/13/20|2/14/20|2/15/20|2/16/20|2/17/20|2/18/20|2/19/20|2/20/20|2/21/20|2/22/20|2/23/20|2/24/20|2/25/20|2/26/20|2/27/20|2/28/20|2/29/20|3/1/20|3/2/20|3/3/20|3/4/20|3/5/20|3/6/20|3/7/20|3/8/20|3/9/20|3/10/20|3/11/20|3/12/20|3/13/20|3/14/20|3/15/20|3/16/20|3/17/20|3/18/20|3/19/20|3/20/20|3/21/20|3/22/20|3/23/20|
+--------------------+--------------+--------+---------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|    British Columbia|        Canada| 49.2827|-123.1207|      0|      0|      0|      0|      0|      0|      1|      1|      1|      1|     1|     1|     1|     1|     2|     2|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      5|      5|      5|      5|      6|      6|      6|      6|      7|      7|      7|      7|      8|     8|     8|     9|    12|    13|    21|    21|    27|    32|     32|     39|     46|     64|     64|     73|    103|    103|    186|    231|    271|    424|    424|    424|
|     New South Wales|     Australia|-33.8688| 151.2093|      0|      0|      0|      0|      3|      4|      4|      4|      4|      4|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|     6|     6|    13|    22|    22|    26|    28|    38|    48|     55|     65|     65|     92|    112|    134|    171|    210|    267|    307|    353|    436|    533|    533|
|            Victoria|     Australia|-37.8136| 144.9631|      0|      0|      0|      0|      1|      1|      1|      1|      2|      3|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      7|     7|     9|     9|    10|    10|    10|    11|    11|    15|     18|     21|     21|     36|     49|     57|     71|     94|    121|    121|    121|    229|    296|    296|
|          Queensland|     Australia|-28.0167|    153.4|      0|      0|      0|      0|      0|      0|      0|      1|      3|      2|     3|     2|     2|     3|     3|     4|     5|     5|     5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      9|     9|     9|    11|    11|    13|    13|    13|    15|    15|     18|     20|     20|     35|     46|     61|     68|     78|     94|    144|    184|    221|    221|    221|
|     South Australia|     Australia|-34.9285| 138.6007|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     1|     2|     2|     2|     2|     2|     2|     2|     2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      3|     3|     3|     3|     5|     5|     7|     7|     7|     7|      7|      9|      9|     16|     19|     20|     29|     29|     37|     42|     50|     67|    100|    100|
|From Diamond Prin...|     Australia| 35.4437|  139.638|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      4|      7|      7|      7|      7|      7|      8|      8|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|   Western Australia|     Australia|-31.9505| 115.8605|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      2|     2|     2|     2|     2|     3|     3|     3|     3|     4|      6|      9|      9|     14|     17|     17|     28|     31|     35|     52|     64|     90|    120|    120|
|            Tasmania|     Australia|-41.4545| 145.9707|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     1|     1|     1|     1|     1|     1|     2|     2|      2|      3|      3|      5|      5|      6|      7|      7|     10|     10|     10|     16|     22|     22|
|  Northern Territory|     Australia|-12.4634| 130.8456|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     1|     1|     0|     0|     0|     0|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      3|      3|      3|      3|
|             Ontario|        Canada| 51.2538| -85.3232|      0|      0|      0|      0|      1|      1|      1|      1|      1|      3|     3|     3|     3|     3|     3|     3|     3|     3|     3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      3|      4|      4|      4|      6|      6|     11|    15|    18|    20|    20|    22|    25|    28|    29|    34|     36|     41|     42|     74|     79|    104|    177|    185|    221|    257|    308|    377|    425|    425|
|             Alberta|        Canada| 53.9333|-116.5765|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     1|     2|     4|     7|      7|     19|     19|     29|     29|     39|     56|     74|     97|    119|    146|    195|    259|    259|
|              Quebec|        Canada| 52.9399| -73.5491|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      1|      1|     1|     1|     1|     1|     2|     2|     3|     4|     4|      4|      8|      9|     17|     17|     24|     50|     74|     94|    121|    139|    181|    219|    219|
|          Washington|            US| 47.4009|-121.4905|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    267|    366|    442|    568|    572|    643|    904|   1076|   1014|   1376|   1524|   1793|   1996|   1996|
|            New York|            US| 42.1657| -74.9481|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    173|    220|    328|    421|    525|    732|    967|   1706|   2495|   5365|   8310|  11710|  15793|  15793|
|          California|            US| 36.1162|-119.6816|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    144|    177|    221|    282|    340|    426|    557|    698|    751|    952|   1177|   1364|   1642|   1642|
|       Massachusetts|            US| 42.2302| -71.5301|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     92|     95|    108|    123|    138|    164|    197|    218|    218|    328|    413|    525|    646|    646|
|    Diamond Princess|            US| 35.4437|  139.638|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     36|     36|     42|     42|     44|     44|    44|    45|    45|    45|    45|    45|    45|    45|    45|     46|     46|     46|     46|     46|     46|     47|     47|     47|     47|     49|     49|     49|     49|
|      Grand Princess|            US| 37.6489|-122.6655|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|    21|    21|    21|     21|     21|     21|     21|     21|     21|     20|     21|     21|     22|     23|     23|     30|     30|
|             Georgia|            US| 33.0406| -83.6431|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     17|     23|     31|     42|     66|     99|    121|    146|    199|    287|    420|    507|    600|    600|
|            Colorado|            US| 39.0598|-105.3111|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     15|     34|     45|     49|    101|    131|    160|    160|    184|    277|    363|    390|    476|    476|
+--------------------+--------------+--------+---------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [6]:
#Filtering data related to Australia

covid_data_australia=covid_no_null.filter(col("Country/Region")=="Australia")
covid_data_australia.show()

+--------------------+--------------+--------+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|      Province/State|Country/Region|     Lat|    Long|1/22/20|1/23/20|1/24/20|1/25/20|1/26/20|1/27/20|1/28/20|1/29/20|1/30/20|1/31/20|2/1/20|2/2/20|2/3/20|2/4/20|2/5/20|2/6/20|2/7/20|2/8/20|2/9/20|2/10/20|2/11/20|2/12/20|2/13/20|2/14/20|2/15/20|2/16/20|2/17/20|2/18/20|2/19/20|2/20/20|2/21/20|2/22/20|2/23/20|2/24/20|2/25/20|2/26/20|2/27/20|2/28/20|2/29/20|3/1/20|3/2/20|3/3/20|3/4/20|3/5/20|3/6/20|3/7/20|3/8/20|3/9/20|3/10/20|3/11/20|3/12/20|3/13/20|3/14/20|3/15/20|3/16/20|3/17/20|3/18/20|3/19/20|3/20/20|3/21/20|3/22/20|3/23/20|
+--------------------+--------------+--------+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|     New South Wales|     Australia|-33.8688|151.2093|      0|      0|      0|      0|      3|      4|      4|      4|      4|      4|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|     6|     6|    13|    22|    22|    26|    28|    38|    48|     55|     65|     65|     92|    112|    134|    171|    210|    267|    307|    353|    436|    533|    533|
|            Victoria|     Australia|-37.8136|144.9631|      0|      0|      0|      0|      1|      1|      1|      1|      2|      3|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      7|     7|     9|     9|    10|    10|    10|    11|    11|    15|     18|     21|     21|     36|     49|     57|     71|     94|    121|    121|    121|    229|    296|    296|
|          Queensland|     Australia|-28.0167|   153.4|      0|      0|      0|      0|      0|      0|      0|      1|      3|      2|     3|     2|     2|     3|     3|     4|     5|     5|     5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      9|     9|     9|    11|    11|    13|    13|    13|    15|    15|     18|     20|     20|     35|     46|     61|     68|     78|     94|    144|    184|    221|    221|    221|
|     South Australia|     Australia|-34.9285|138.6007|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     1|     2|     2|     2|     2|     2|     2|     2|     2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      3|     3|     3|     3|     5|     5|     7|     7|     7|     7|      7|      9|      9|     16|     19|     20|     29|     29|     37|     42|     50|     67|    100|    100|
|From Diamond Prin...|     Australia| 35.4437| 139.638|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      4|      7|      7|      7|      7|      7|      8|      8|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|   Western Australia|     Australia|-31.9505|115.8605|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      2|     2|     2|     2|     2|     3|     3|     3|     3|     4|      6|      9|      9|     14|     17|     17|     28|     31|     35|     52|     64|     90|    120|    120|
|            Tasmania|     Australia|-41.4545|145.9707|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     1|     1|     1|     1|     1|     1|     2|     2|      2|      3|      3|      5|      5|      6|      7|      7|     10|     10|     10|     16|     22|     22|
|  Northern Territory|     Australia|-12.4634|130.8456|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     1|     1|     0|     0|     0|     0|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      3|      3|      3|      3|
|Australian Capita...|     Australia|-35.4735|149.0124|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      1|      1|      1|      2|      2|      3|      4|      6|      9|     19|     19|
+--------------------+--------------+--------+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

In [7]:
#Dropping unneccessary columns

covid_data_aust=covid_data_australia.drop('Province/State','Lat','Long')
covid_data_aust.show()

+--------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|Country/Region|1/22/20|1/23/20|1/24/20|1/25/20|1/26/20|1/27/20|1/28/20|1/29/20|1/30/20|1/31/20|2/1/20|2/2/20|2/3/20|2/4/20|2/5/20|2/6/20|2/7/20|2/8/20|2/9/20|2/10/20|2/11/20|2/12/20|2/13/20|2/14/20|2/15/20|2/16/20|2/17/20|2/18/20|2/19/20|2/20/20|2/21/20|2/22/20|2/23/20|2/24/20|2/25/20|2/26/20|2/27/20|2/28/20|2/29/20|3/1/20|3/2/20|3/3/20|3/4/20|3/5/20|3/6/20|3/7/20|3/8/20|3/9/20|3/10/20|3/11/20|3/12/20|3/13/20|3/14/20|3/15/20|3/16/20|3/17/20|3/18/20|3/19/20|3/20/20|3/21/20|3/22/20|3/23/20|
+--------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|     Australia|      0|      0|      0|      0|      3|      4|      4|      4|      4|      4|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|     6|     6|    13|    22|    22|    26|    28|    38|    48|     55|     65|     65|     92|    112|    134|    171|    210|    267|    307|    353|    436|    533|    533|
|     Australia|      0|      0|      0|      0|      1|      1|      1|      1|      2|      3|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      7|     7|     9|     9|    10|    10|    10|    11|    11|    15|     18|     21|     21|     36|     49|     57|     71|     94|    121|    121|    121|    229|    296|    296|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      1|      3|      2|     3|     2|     2|     3|     3|     4|     5|     5|     5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      9|     9|     9|    11|    11|    13|    13|    13|    15|    15|     18|     20|     20|     35|     46|     61|     68|     78|     94|    144|    184|    221|    221|    221|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     1|     2|     2|     2|     2|     2|     2|     2|     2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      3|     3|     3|     3|     5|     5|     7|     7|     7|     7|      7|      9|      9|     16|     19|     20|     29|     29|     37|     42|     50|     67|    100|    100|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      4|      7|      7|      7|      7|      7|      8|      8|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      2|     2|     2|     2|     2|     3|     3|     3|     3|     4|      6|      9|      9|     14|     17|     17|     28|     31|     35|     52|     64|     90|    120|    120|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     1|     1|     1|     1|     1|     1|     2|     2|      2|      3|      3|      5|      5|      6|      7|      7|     10|     10|     10|     16|     22|     22|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     1|     1|     0|     0|     0|     0|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      3|      3|      3|      3|
|     Australia|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      1|      1|      1|      2|      2|      3|      4|      6|      9|     19|     19|
+--------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

In [8]:
#Extracting data for the dates required for analysis

col_names=covid_data_aust.columns
col_names=col_names[11:]
covid_data_reqd=covid_data_aust.select([c for  c in covid_data_aust.columns if ((c in col_names) | (c=="Country/Region"))])
covid_data_reqd.show()

+--------------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|Country/Region|2/1/20|2/2/20|2/3/20|2/4/20|2/5/20|2/6/20|2/7/20|2/8/20|2/9/20|2/10/20|2/11/20|2/12/20|2/13/20|2/14/20|2/15/20|2/16/20|2/17/20|2/18/20|2/19/20|2/20/20|2/21/20|2/22/20|2/23/20|2/24/20|2/25/20|2/26/20|2/27/20|2/28/20|2/29/20|3/1/20|3/2/20|3/3/20|3/4/20|3/5/20|3/6/20|3/7/20|3/8/20|3/9/20|3/10/20|3/11/20|3/12/20|3/13/20|3/14/20|3/15/20|3/16/20|3/17/20|3/18/20|3/19/20|3/20/20|3/21/20|3/22/20|3/23/20|
+--------------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|     Australia|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|     6|     6|    13|    22|    22|    26|    28|    38|    48|     55|     65|     65|     92|    112|    134|    171|    210|    267|    307|    353|    436|    533|    533|
|     Australia|     4|     4|     4|     4|     4|     4|     4|     4|     4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      4|      7|     7|     9|     9|    10|    10|    10|    11|    11|    15|     18|     21|     21|     36|     49|     57|     71|     94|    121|    121|    121|    229|    296|    296|
|     Australia|     3|     2|     2|     3|     3|     4|     5|     5|     5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      5|      9|     9|     9|    11|    11|    13|    13|    13|    15|    15|     18|     20|     20|     35|     46|     61|     68|     78|     94|    144|    184|    221|    221|    221|
|     Australia|     1|     2|     2|     2|     2|     2|     2|     2|     2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      2|      3|     3|     3|     3|     5|     5|     7|     7|     7|     7|      7|      9|      9|     16|     19|     20|     29|     29|     37|     42|     50|     67|    100|    100|
|     Australia|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      4|      7|      7|      7|      7|      7|      8|      8|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|     Australia|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      2|     2|     2|     2|     2|     3|     3|     3|     3|     4|      6|      9|      9|     14|     17|     17|     28|     31|     35|     52|     64|     90|    120|    120|
|     Australia|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     1|     1|     1|     1|     1|     1|     2|     2|      2|      3|      3|      5|      5|      6|      7|      7|     10|     10|     10|     16|     22|     22|
|     Australia|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     1|     1|     0|     0|     0|     0|      1|      1|      1|      1|      1|      1|      1|      1|      1|      1|      3|      3|      3|      3|
|     Australia|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|     0|     0|     0|     0|     0|     0|     0|     0|     0|      0|      0|      0|      1|      1|      1|      2|      2|      3|      4|      6|      9|     19|     19|
+--------------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

In [9]:
#Merging all States

covid_data_reqd=covid_data_reqd.groupBy().sum()
covid_data_reqd.show()

+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|sum(2/1/20)|sum(2/2/20)|sum(2/3/20)|sum(2/4/20)|sum(2/5/20)|sum(2/6/20)|sum(2/7/20)|sum(2/8/20)|sum(2/9/20)|sum(2/10/20)|sum(2/11/20)|sum(2/12/20)|sum(2/13/20)|sum(2/14/20)|sum(2/15/20)|sum(2/16/20)|sum(2/17/20)|sum(2/18/20)|sum(2/19/20)|sum(2/20/20)|sum(2/21/20)|sum(2/22/20)|sum(2/23/20)|sum(2/24/20)|sum(2/25/20)|sum(2/26/20)|sum(2/27/20)|sum(2/28/20)|sum(2/29/20)|sum(3/1/20)|sum(3/2/20)|sum(3/3/20)|sum(3/4/20)|sum(3/5/20)|sum(3/6/20)|sum(3/7/20)|sum(3/8/20)|sum(3/9/20)|sum(3/10/20)|sum(3/11/20)|sum(3/12/20)|sum(3/13/20)|sum(3/14/20)|sum(3/15/20)|sum(3/16/20)|sum(3/17/20)|sum(3/18/20)|sum(3/19/20)|sum(3/20/20)|sum(3/21/20)|sum(3/22/20)|sum(3/23/20)|
+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|         12|         12|         12|         13|         13|         14|         15|         15|         15|          15|          15|          15|          15|          15|          15|          15|          15|          15|          15|          15|          19|          22|          22|          22|          22|          22|          23|          23|          25|         27|         30|         39|         52|         55|         60|         63|         76|         91|         107|         128|         128|         200|         250|         297|         377|         452|         568|         681|         791|        1071|        1314|        1314|
+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+

In [10]:
analysis_data=covid_data_reqd.toPandas()
analysis_data

,sum(2/1/20),sum(2/2/20),sum(2/3/20),sum(2/4/20),sum(2/5/20),sum(2/6/20),sum(2/7/20),sum(2/8/20),sum(2/9/20),sum(2/10/20),...,sum(3/14/20),sum(3/15/20),sum(3/16/20),sum(3/17/20),sum(3/18/20),sum(3/19/20),sum(3/20/20),sum(3/21/20),sum(3/22/20),sum(3/23/20)
0,12,12,12,13,13,14,15,15,15,15,...,250,297,377,452,568,681,791,1071,1314,1314

In [11]:
analysis_data = analysis_data.transpose()
day=[x for x in range(len(covid_data_reqd.columns)) ]
analysis_data['Day']=day
analysis_data.rename(columns={0:"Count"},inplace=True)
analysis_data

              Count  Day
sum(2/1/20)      12    0
sum(2/2/20)      12    1
sum(2/3/20)      12    2
sum(2/4/20)      13    3
sum(2/5/20)      13    4
sum(2/6/20)      14    5
sum(2/7/20)      15    6
sum(2/8/20)      15    7
sum(2/9/20)      15    8
sum(2/10/20)     15    9
sum(2/11/20)     15   10
sum(2/12/20)     15   11
sum(2/13/20)     15   12
sum(2/14/20)     15   13
sum(2/15/20)     15   14
sum(2/16/20)     15   15
sum(2/17/20)     15   16
sum(2/18/20)     15   17
sum(2/19/20)     15   18
sum(2/20/20)     15   19
sum(2/21/20)     19   20
sum(2/22/20)     22   21
sum(2/23/20)     22   22
sum(2/24/20)     22   23
sum(2/25/20)     22   24
sum(2/26/20)     22   25
sum(2/27/20)     23   26
sum(2/28/20)     23   27
sum(2/29/20)     25   28
sum(3/1/20)      27   29
sum(3/2/20)      30   30
sum(3/3/20)      39   31
sum(3/4/20)      52   32
sum(3/5/20)      55   33
sum(3/6/20)      60   34
sum(3/7/20)      63   35
sum(3/8/20)      76   36
sum(3/9/20)      91   37
sum(3/10/20)    107   38
sum(3/11/20)    128   39
sum(3/12/20)    128   40
sum(3/13/20)    200   41
sum(3/14/20)    250   42
sum(3/15/20)    297   43
sum(3/16/20)    377   44
sum(3/17/20)    452   45
sum(3/18/20)    568   46
sum(3/19/20)    681   47
sum(3/20/20)    791   48
sum(3/21/20)   1071   49
sum(3/22/20)   1314   50
sum(3/23/20)   1314   51

In [23]:
#Function to form vector column of input data

def prepareForML(analysis_data):
    sqlContext = SQLContext(sc)
    vectorAssembler = VectorAssembler(inputCols = ['Day'], outputCol = 'features')
    spark_data = sqlContext.createDataFrame(analysis_data)
    vector_df = vectorAssembler.transform(spark_data)
    # Days 50 and 51 has to be predicted. So splitting the data into training and testing df.
    train_df=vector_df.where(col('Day')<50)
    predict_df=vector_df.where(col('Day')>49)
    train_df = train_df.select(['features', 'Count'])
    predict_df = predict_df.select(['features', 'Count'])
    
    return train_df,predict_df

train_df,predict_df=prepareForML(analysis_data)

In [24]:
train_df.show()
predict_df.show()

+--------+-----+
|features|Count|
+--------+-----+
|   [0.0]|   12|
|   [1.0]|   12|
|   [2.0]|   12|
|   [3.0]|   13|
|   [4.0]|   13|
|   [5.0]|   14|
|   [6.0]|   15|
|   [7.0]|   15|
|   [8.0]|   15|
|   [9.0]|   15|
|  [10.0]|   15|
|  [11.0]|   15|
|  [12.0]|   15|
|  [13.0]|   15|
|  [14.0]|   15|
|  [15.0]|   15|
|  [16.0]|   15|
|  [17.0]|   15|
|  [18.0]|   15|
|  [19.0]|   15|
+--------+-----+
only showing top 20 rows

+--------+-----+
|features|Count|
+--------+-----+
|  [50.0]| 1314|
|  [51.0]| 1314|
+--------+-----+

In [26]:
def linearReg(training_df):
    lr = LinearRegression(featuresCol = 'features', labelCol='Count', maxIter=10, regParam=0.3, elasticNetParam=0.8)
    lr_model = lr.fit(training_df)
    
    return lr_model

In [27]:
def predict(test_df, lr_model):
    lr_predictions = lr_model.transform(test_df)
    lr_predictions.select("prediction","Count","features").show()
    
    return lr_predictions

In [29]:
#Training the model
lr_model= linearReg(train_df)

#Evaluating the model
prediction=predict(predict_df,lr_model)

prediction.withColumn('Difference', col('Count')-col('prediction')).show()

+------------------+-----+--------+
|        prediction|Count|features|
+------------------+-----+--------+
| 384.1298169541139| 1314|  [50.0]|
|394.46510389349095| 1314|  [51.0]|
+------------------+-----+--------+

+--------+-----+------------------+----------------+
|features|Count|        prediction|      Difference|
+--------+-----+------------------+----------------+
|  [50.0]| 1314| 384.1298169541139|929.870183045886|
|  [51.0]| 1314|394.46510389349095|919.534896106509|
+--------+-----+------------------+----------------+

The difference between actual and predicted value is very high. This maybe because the values in the initial days were very less and there is change in the infection rate after a month. 

It would be a better model if data during this period is taken for training the model.

# Changing the training data

In [30]:
#extracting new dataset from previous
new_data=analysis_data[analysis_data['Day']>36]

#preparing data for Machine Learning
train_df_1,predict_df_1=prepareForML(new_data)

In [31]:
train_df_1.show()
predict_df_1.show()

+--------+-----+
|features|Count|
+--------+-----+
|  [37.0]|   91|
|  [38.0]|  107|
|  [39.0]|  128|
|  [40.0]|  128|
|  [41.0]|  200|
|  [42.0]|  250|
|  [43.0]|  297|
|  [44.0]|  377|
|  [45.0]|  452|
|  [46.0]|  568|
|  [47.0]|  681|
|  [48.0]|  791|
|  [49.0]| 1071|
+--------+-----+

+--------+-----+
|features|Count|
+--------+-----+
|  [50.0]| 1314|
|  [51.0]| 1314|
+--------+-----+

In [33]:
#Training the Linear Regression model
lr_model_new=linearReg(train_df_1)

#Evaluating the model 
prediction_1 = predict(predict_df_1, lr_model_new)

+-----------------+-----+--------+
|       prediction|Count|features|
+-----------------+-----+--------+
|912.7142928352037| 1314|  [50.0]|
| 986.607543460013| 1314|  [51.0]|
+-----------------+-----+--------+

In [34]:
prediction_1.withColumn('Difference', col('Count')-col('prediction')).show()

+--------+-----+-----------------+------------------+
|features|Count|       prediction|        Difference|
+--------+-----+-----------------+------------------+
|  [50.0]| 1314|912.7142928352037|401.28570716479635|
|  [51.0]| 1314| 986.607543460013|327.39245653998705|
+--------+-----+-----------------+------------------+

The prediction done using data where the number of cofirmed cases is constantky increasing gives a better predicted value as it the linear regression model is trained well with that data. 

The difference between Actual and Predicted is comparatively less in this case.  

Furthermore, last 6 days data can be considered for better predictions.

# Considering last 6 days data

In [38]:
#extracting new dataset from previous
latest_data=analysis_data[analysis_data['Day']>43]

#preparing data for Machine Learning
train_df_2,predict_df_2=prepareForML(latest_data)

train_df_2.show()
predict_df_2.show()

#Training Linear Regression model
lr_model_latest=linearReg(train_df_2)

#Evaluating the model 
prediction_2 = predict(predict_df_2, lr_model_latest)

prediction_2.withColumn('Difference', col('Count')-col('prediction')).show()

+--------+-----+
|features|Count|
+--------+-----+
|  [44.0]|  377|
|  [45.0]|  452|
|  [46.0]|  568|
|  [47.0]|  681|
|  [48.0]|  791|
|  [49.0]| 1071|
+--------+-----+

+--------+-----+
|features|Count|
+--------+-----+
|  [50.0]| 1314|
|  [51.0]| 1314|
+--------+-----+

+------------------+-----+--------+
|        prediction|Count|features|
+------------------+-----+--------+
|1116.0551370916946| 1314|  [50.0]|
|1247.3089857845598| 1314|  [51.0]|
+------------------+-----+--------+

+--------+-----+------------------+------------------+
|features|Count|        prediction|        Difference|
+--------+-----+------------------+------------------+
|  [50.0]| 1314|1116.0551370916946|197.94486290830537|
|  [51.0]| 1314|1247.3089857845598| 66.69101421544019|
+--------+-----+------------------+------------------+

# Conclusion

We have received prediction value close to the actual value when the recent dataset is considered.

In [ ]:
sc.stop()